# Ignorar os arquivos de dados brutos da Receita Federal
empresas*.csv
socios*.csv
estabelecimentos*.csv
cnae*.csv
motivos*.csv
municipios*.csv
naturezas*.csv
paises*.csv
qualificacoes*.csv
simples*.csv

# Ignorar a sua planilha de 1000 sócios
Planilha*.csv

# Arquivos comuns de projetos Python que não devem ser versionados
__pycache__/
*.pyc
venv/

